@model List<Student>
@{
    ViewData["Title"] = "Students Page";
}

<!--
    Author: Elijah Morishita
    Date: 7/4/2023
    Assignments Page
-->
<br>
<br>
<br>
<div class="row">
    <div class="col">
        <!--col 1-->
        @{
            if(ViewBag.Access < 2){
                <h2>"Students - You do not have a sufficient access level to view this data"</h2>
                <p>Your current access level is: @ViewBag.Access</p>
                Layout = "_AccessOneLayout";
            }
            else
            {
                <h2>Students</h2>
                <p>Your current access level is: @ViewBag.Access</p>
                Layout = "_AccessTwoLayout";
                if (ViewBag.Access >= 8){
                    <h4>Welcome Admin</h4>
                    Layout = "_AccessThreeLayout";
                }
            }
        }
        
    </div><!--Close col-->
</div><!--close row-->

<div class="row">
    <div class="col">
        <!--col 1-->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Grade</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var StudentItem in Model)
                {
                    <tr>
                        <td>@StudentItem.Id</td>
                        @{
                           
                            if (ViewBag.Access >= 2 && ViewBag.Access < 8)
                            {
                                <td>@StudentItem.FirstName</td>
                                <td>@StudentItem.LastName</td>
                            }
                            if (ViewBag.Access > 8)
                            {
                                <td>@StudentItem.FirstName</td>
                                <td>@StudentItem.LastName</td>
                                <td>@StudentItem.Grade</td>
                            }
                        }
                        
                        
                    </tr>
                }
            </tbody>
        </table>
    </div><!--Close col-->
</div><!--close row-->

<br>
<br>
<br>

